<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MTBA Commuter Rail Train Schedules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>


    <div class="jumbotron">
        <div class='container'>
            <h2 class="page-title">MTBA Commuter Rail Route Map</h2>
        </div>
        <ul class="nav nav-pills">
            <li role="presentation" ><a href="index.html">Home</a></li>
            <li role="presentation" class='active'><a href="train-map.html">Route Map</a></li>
        </ul>
    </div>


    <img width="100%" src="assets/images/mtba-commuter-rail.png" />
</body>

</html>
