.wrapper {
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 500px;
}

.page-header {
	background: $secondary-clr;
	padding: 10px 0;
	box-shadow: $box-shadow;
	margin-bottom: 30px;
}

.card {
	box-shadow: $box-shadow;
	border-radius: 5px;
	background-color: #fff;

}

.contents {
	max-width:500px;
	margin: 0 auto;
}
